<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello World AngularJS</title>
	</head>
	<body>
		<div data-ng-app="">
			<label for="first-name">First Name</label>
			<input type="text" id="first-name" ng-model="fname" />
			<label for="last-name">Last Name</label>
			<input type="text" id="last-name" ng-model="lname" />

			<p>
				<h1>
					Hello World, my name is {{ fname }} {{ lname }}
				</h1>
			</p>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	</body>
</html>
